:root { 
--gray_900_99:#26262699; 
--black_900_90:#00000090; 
--green_900:#135412; 
--red_400:#f65050; 
--black_900_87:#00000087; 
--gray_600_e5:#8f7d4ae5; 
--black_900_01:#0a0c13; 
--lime_800_bf:#a2753fbf; 
--blue_gray_900:#14183e; 
--blue_gray_100:#d9d9d9; 
--blue_700:#2a84b7; 
--indigo_A700_3f:#3c36f13f; 
--gray_800:#4b4b4b; 
--lime_900:#8e4c00; 
--blue_50:#e6edff; 
--gray_100_03:#f5f5f5; 
--black_900_97:#00000097; 
--white_A700_66:#ffffff66; 
--gray_100_02:#f3f3f3; 
--white_A700_63:#ffffff63; 
--black_900_99:#00000099; 
--gray_100_01:#f6f6f6; 
--cyan_600:#0aa7bd; 
--white_A700:#ffffff; 
--gray_700_01:#696767; 
--blue_gray_50:#ebeef3; 
--blue_gray_100_01:#d3d2e3; 
--blue_gray_100_02:#d8d8d8; 
--indigo_300_1e:#7c8db51e; 
--red_500:#eb4335; 
--amber_A400:#ffcd00; 
--yellow_500:#ffe642; 
--black_900:#000000; 
--black_900_63:#00000063; 
--gray_500_01:#abacac; 
--red_A400:#fb1351; 
--gray_900_02:#242426; 
--gray_700:#6a6a6a; 
--gray_900_03:#1a1e25; 
--gray_900_04:#262626; 
--gray_500:#a4a4a4; 
--white_A700_a2:#ffffffa2; 
--lime_800:#a1743f; 
--gray_900:#522c00; 
--gray_900_01:#532d00; 
--gray_300:#e2e4e5; 
--gray_100:#f4f4f4; 
--indigo_900:#242565; 
--red_900_e5:#b70f0fe5; 
}